/** 
 *   ForgotPassword.css
 */

/* ------------------------------- */


.forgot-password-div-button {
  display: flex;
  justify-content: center;
}

.forgot-password-button-styles {
  font-size: 1rem;
  font-family: var(--font);
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 1rem 2rem;
}

.forgot-password-styles {
  background-color: var(--third-color-75);
}

/* ------------------------------- */
