/**
 * Search.css 
 */

/* ------------------------------- */

.search-styles {
  justify-items: center;
  padding: 20px 75px;
}

.search-awesome-styles {
  background-color: var(--main-color);
}

.search-input-styles {
  background-color: var(--main-color);
}

/* ------------------------------- */
