/**
 * index.css - General customization of MiniDev presentation
 */

/* ********** Custom Properties ********** */

:root {
  --main-color: #5eb8fa;
  --main-color-75: rgba(84, 184, 250, 0.75);
  --secondary-color: #14192d;
  --secondary-color-75: rgba(20, 25, 45, 0.75);
  --third-color: #37c34d;
  --third-color-75: rgba(55, 195, 77, 0.75);
  --link-color: rgba(81, 125, 166, 1);
  --titles-color: rgba(51, 51, 51, 1);
  --paragraphs-color: rgba(34, 34, 34, 1);
  --overlay-white-50: rgba(255, 255, 255, 0.5);
  --overlay-black-50: rgba(0, 0, 0, 0.5);
  --grayscale-white-color: rgba(255, 255, 255, 1);
  --grayscale-ligth-color: rgba(243, 243, 243, 1);
  --grayscale-gray-color: rgba(204, 204, 204, 1);
  --grayscale-dark-color: rgba(196, 196, 196, 1);
  --grayscale-black-color: rgba(0, 0, 0, 1);
  --font: "Roboto", sans-serif;
  --max-width: 1200px;
  --menu-bar-height: 4rem;
  --menu-items-height: 21rem;
}

/* ********** Reset ********** */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth; /* transiciones en la home page de ejemplo - no se si aplica */
  background: var(--third-color-75);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden; /* que pasa con lo que desborda? se oculta, no aparece barra de des´plazamiento horizonal */
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ********** Utilities ********** */

.box-shadow {
  box-shadow: 16px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ********** Site Styles ********** */

.custom-toast {
  background-color: var(--grayscale-dark-color);
  color: var(--grayscale-black-color);
}

.card-subtitle {
  font-size: 2rem;
}

.p2 {
  width: 30%;
}

.p3 {
  flex-direction: row;
  display: inline-flexbox;
}


/* --------------------------------------------------------------- */
