/**
 * UserMenu.css   
 */

/* ------------------------------- */

.user-menu-styles {
  background-color: var(--main-color);
}

.user-menu-group {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------- */
